.mobile-menu {
	position: fixed;
	right: -100%;
	top: 150px;
	bottom: 0;
	width: 100%;
	height: calc(100% - 150px);
	transition: .3s linear;
	z-index: 1001;
	&__wrap {
		position: relative;
		max-width: 390px;
		height: 100%;
		margin-right: 0px;
		margin-left: auto;
		z-index: 1002;
		overflow: hidden;
	}
	&__content {
		height: 100%;
		padding: 20px 0px 24px;
		background: $white;
		overflow-y: auto;
	}
	&__city {
		width: 100%;
		padding: 0 32px 20px;
		border-bottom: 1px solid $ui-mdm-gray;
		text-align: left;
	}
	&__city-title {
		font-size: 16px;
		font-weight: 600;
		line-height: 150%;
	}
	&__change {
		color: $txt-gray;
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
	}
	&__list {
		padding: 20px 0px !important;
		border-bottom: 1px solid $ui-mdm-gray;
	}
	&__item {
		&:not(:last-child) {margin-bottom: 8px;}
		& > a {
			display: flex;
			padding: 6px 32px;
			font-size: 18px;
			font-weight: 700;
			line-height: 120%;
			cursor: pointer;
			&:hover {
				color: $accent-main2;
			}
			&:active {
				color: $accent-main3;
			}
			&.active {
				svg {transform: rotate(-180deg);}
			}
		}
	}
	&__icon {
		margin-left: 8px;
		line-height: 100%;
		svg {
			width: 13px;
			height: 8px;
		}
		.icon-star {
			width: 15px;
			height: 15px;
		}
	}
	&__contacts {
		padding: 20px 32px 0px;
	}
	&__phone {
		a {display: inline-block;}
		.txt--mdm14 {color: $txt-gray;}
	}
	&__mail {
		display: inline-block;
		margin: 18px 0 32px;
	}
	&__callback {
		svg {
			width: 16px;
			height: 16px;
			margin-right: 8px;
			fill: $white;
		}
	}
	&__overlay {
		display: none;
		position: fixed;
		top: 150px;
		bottom: 0px;
		right: 0px;
		left: 0px;
		background: rgba($color: $black, $alpha: .5);
		transition: .3s linear;
		cursor: pointer;
		&.active {display: block;}
	}
}

.catalog-m-menu {
	&__item, &__prev {
		&:not(:last-child) {margin-bottom: 4px;}
		& > a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 5px 32px;
			transition: .3s linear;
			font-weight: 500;
			cursor: pointer;
			&:hover {
				span {color: $accent-main2;}
				svg {fill: $accent-main2;}
			}
			&:active {
				span {color: $accent-main3;}
				svg {fill: $accent-main3;}
			}
		}
		span {transition: .3s linear;}
	}
	&__prev {
		& > a {
			justify-content: flex-start;
			padding: 10px 32px;
			span {
				color: $txt-gray;
				font-size: 14px;
				font-weight: 600;
			}
			svg {
				margin-right: 14px;
				transform: rotate(180deg);
				fill: $txt-gray;
			}
		}
	}
	&__sub {
		position: absolute;
		bottom: 0;
		top: 0px;
		max-width: 390px;
		width: 100%;
		background: $white;
		transition: transform .3s;
		transform: translate(100%);
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 1003
	}
}

@media only screen and (max-width: 860px) {
	.mobile-menu {
		top: 145px;
		height: calc(100% - 145px);
		&__overlay {top: 145px;}
	}
}

@media only screen and (max-width: 767px) {
	.mobile-menu {
		top: 94px;
		height: calc(100% - 94px);
		&__city {
			padding: 0 12px 20px;
		}
		&__item {
			& > a {padding: 6px 12px;}
		}
		&__contacts {
			padding: 20px 12px 0px;
		}
		&__overlay {top: 94px;}
	}
}