ul.catalog-m-menu.catalog-m-menu__sub
	li.catalog-m-menu__prev
		a
			span.catalog-m-menu__icon
				+icon('arrow-right-2')
			span Цветные металлы
	li.catalog-m-menu__item
		a
			span Медь
			span.catalog-m-menu__icon
				+icon('arrow-right-2')
		include ./catalog-m-menu-2
	li.catalog-m-menu__item
		a
			span Инструментальные стали
			span.catalog-m-menu__icon
				+icon('arrow-right-2')
		include ./catalog-m-menu-2
	li.catalog-m-menu__item
		a
			span Алюминий
			span.catalog-m-menu__icon
				+icon('arrow-right-2')
		include ./catalog-m-menu-2