.bottom-line
	.bottom-line__left
		nav.bottom-line__nav
			ul.bottom-line__navitagion-panel.txt--smbld14
				li.spacial
					a(href='#')
						+icon('star')
						| Акции
				li
					a(href='#') Сталь
				li
					a(href='#') Цветные металлы
				li
					a(href='#') Чугун
				li
					a(href='#') Сплавы
				li
					a(href='#') Редкоземельные металлы
				li
					a(href='#') Оборудование
				li
					a(href='#') Полимеры
	.bottom-line__right
		.bottom-line__search
			+icon('search')
		.bottom-line__basket
			a.btn.btn--h40(href='#') Корзина