.bottom-line
	.bottom-line__left
		nav.bottom-line__nav
			ul.bottom-line__navitagion-panel.txt--mdm14
				li.spacial
					a(href='#')
						+icon('star')
						| Акции
				li
					a(href='#') Сталь
				li
					a(href='#') Цветные металлы
				li
					a(href='#') Чугун
				li
					a(href='#') Сплавы
				li
					a(href='#') Редкоземельные металлы
				li
					a(href='#') Оборудование
				li
					a(href='#') Полимеры
		.bottom-line__catalog
			include ./catalog-menu
	.bottom-line__right
		.bottom-line__search-input.search-input
			button.search-input__search
				+icon('search')
			input(type='search', placeholder='Найти товар')
			button.search-input__close
				+icon('close')
		button#open-search-header.bottom-line__search.btn.btn--circle.btn--trparent
			+icon('search')
		.bottom-line__basket(data-toggle='modal' data-target='#modal-basket')
			button.btn.btn--h40 Корзина