.catalog-menu
	.catalog-menu__left
		h2.catalog-menu__title Сталь
		ul.catalog-menu__list
			li
				a(href='#')
					| Конструкционные стали
					+icon('arrow-right')
			li
				a(href='#')
					| Инструментальные стали
					+icon('arrow-right')
			li
				a(href='#')
					| Литейная сталь
					+icon('arrow-right')
		.catalog-menu__catalog-submenu.catalog-submenu
			.catalog-submenu__wrap
					.catalog-submenu__item
						h3.catalog-submenu__title Углеродистые стали
						ul.catalog-submenu__list
							li
								a(href='#') Углеродистые стали
							li
								a(href='#') Коррозионностойкие нержавеющие стали
							li
								a(href='#') Автоматная сталь
							li
								a(href='#') Пищевая сталь
							li
								a(href='#') Низколегированные стали
							li
								a(href='#') Электротехническая сталь
							li
								a(href='#') Высоколегированные стали
							li
								a(href='#') Рессорно-пружинная сталь
							li
								a(href='#') Подшипниковая сталь