.top-line
	.top-line__left
		.top-line__logo
			img(src='../../../static/images/general/logo.svg', alt='Велунд сталь')
		nav.top-line__nav
			ul.top-line__navitagion-panel.txt--smbld14
				li
					a(href='#') Производство
				li
					a(href='#') Услуги
				li
					a(href='#') Доставка
				li.catalog-list
					a(href='#')
						| Компания
						+icon('arrow-down')
					.catalog-list__wrap
						ul.catalog-list__list
							li
								a(href='#')
									| О нас
									+icon('arrow-right')
							li
								a(href='#')
									| Блог
									+icon('arrow-right')
							li
								a(href='#')
									| Новости
									+icon('arrow-right')
							li
								a(href='#')
									| Вакансии
									+icon('arrow-right')
				li
					a(href='#') Контакты
	.top-line__right
		.top-line__contacts
			.top-line__info
				.top-line__col
					a.txt--smbld16(href='mailto:habarovsk@gkws.ru') habarovsk@gkws.ru
					.top-line__city.txt--smbld14(data-toggle='modal' data-target='#modal-city')
						span Нижний Новгород
						+icon('arrow-down')
				.top-line__col
					a.txt--smbld16(href='tel:+73439999999') 8 (343) 999 99 99
					a.txt--smbld14(href='tel:+78009999999') 8 (800) 999 99 99
			.top-line__callback.btn.btn--circle.btn--white5
				+icon('phone')
		.top-line__mobile
			button.top-line__m-search
				+icon('search')
			button.top-line__m-basket
				+icon('basket')
			button.top-line__m-menu
				.hamburger
					span
				