#modal-search.modal.modal-right(tabindex='-1' aria-labelledby='modalRightLabel' aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-search
				.modal-search__title.txt--bld24 Поиск товара
				.modal-search__search.search-input.search-input--reset
					button.search-input__search
						+icon('search')
					input(type='search', placeholder='Найти товар')
					button.search-input__reset
						+icon('close')
				.modal-search__popular-title.txt--smbld14 Популярные запросы
				ul.modal-search__popular-request
					li Трубы в изоляции
					li Арматура КЛ АТ800
					li Катанка 5.5
					li Лента Х/К упаковочная
					li Электроды
					li Дюбель стальной MOLLY