#modal-city.modal.modal-right(tabindex='-1' aria-labelledby='modalRightLabel' aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-w
				.modal-w__close.modal-close.modal-close--txt(type='button' data-dismiss='modal')
					+icon('close')
					+icon('arrow-right-2')
					.modal-close__text Выбор города
				.modal-w__title.txt--bld36 Выберите город
				.modal-w__text Найдите свой город с помощью поиска или в списке популярных городов
				.modal-w__tabs.tabs
					.tabs__nav
						button.tabs__nav-item(type='button') Россия
						button.tabs__nav-item(type='button') Казахстан
					.tabs__content
						.tabs__content-item
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum nemo deserunt dolore nostrum natus corrupti, ipsum iste explicabo fugit, libero consectetur quod iusto illum ea sed dolores fuga ratione dolorum.
						.tabs__content-item
							p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, optio. Labore accusamus obcaecati ullam provident, quos voluptate. Blanditiis repudiandae nesciunt quasi sint eveniet? Neque accusamus eveniet, quis magnam consequatur nulla?