.modal-basket__wrap-body
	.modal-basket__img
		img(src='../../../static/images/content/logo-color.png', alt='Велунд сталь')
	.modal-basket__accent-txt.txt--bld36 В корзине ничего нет
	.modal-basket__text Найдите нужные вам товары в нашем каталоге или воспользуйтесь поиском
	.modal-basket__buttons
		a.btn.btn--h52.btn--wdh220.btn--br50.btn--m-wdh100(href='#') Перейти в каталог
		button.btn.btn--h52.btn--wdh220.btn--gray.btn--br50.btn--m-wdh100(type='button' data-dismiss='modal') Закрыть окно
