.modal-basket__wrap-body
	.modal-basket__accent-txt.txt--bld36 Вы точно хотите очистить корзину?
	.modal-basket__text Отменить удаление товаров будет невозможно
	.modal-basket__buttons
		button.modal-basket__yes.btn.btn--h52.btn--wdh220.btn--br50.btn--m-wdh100(type='button') Да, очистить
		button.modal-basket__no.btn.btn--h52.btn--wdh220.btn--gray.btn--br50.btn--m-wdh100(type='button') Нет, оставить