.modal-basket__wrap-body
	.modal-basket__body
		.modal-basket__list
			include ../../cards/basket-card/basket-card
			include ../../cards/basket-card/basket-card
			include ../../cards/basket-card/basket-card
			include ../../cards/basket-card/basket-card
			include ../../cards/basket-card/basket-card
			include ../../cards/basket-card/basket-card
			include ../../cards/basket-card/basket-card
			include ../../cards/basket-card/basket-card
	.modal-basket__buttons
		.modal-basket__fixed-btn
			button.modal-basket__request.btn.btn--h52.btn--wdh220.btn--br50.btn--m-wdh100(type='button') Оформить заявку
		button.modal-basket__clear-list.btn.btn--link(type='button') Очистить корзину
