.basket-card
	.basket-card__img
		img(src='../../../../static/images/content/basket-card.jpg', alt='Изображение товара')
	.basket-card__content
		.basket-card__title Стальной плоский фланец приварной встык с соединительным выступом
		.basket-card__info
			.basket-card__item
				.basket-card__subtitle Марка
				.basket-card__text 05Х16Н5АБ05Х16
			.basket-card__item
				.basket-card__subtitle ГОСТ
				.basket-card__text ГОСТ 15588-86
			.basket-card__item
				.basket-card__subtitle Цена
				.basket-card__text.hint Договорная
					span
						+icon('hint')
			.basket-card__item
	button.basket-card__close(type='button') Удалить