.basket-card
	.basket-card__img
		img(src='../../../../static/images/content/basket-card.jpg', alt='Изображение товара')
	.basket-card__content
		a.basket-card__title(href='#') Стальной плоский фланец приварной встык с соединительным выступом
		.basket-card__info
			.basket-card__item
				.basket-card__subtitle Марка
				.basket-card__text 05Х16Н5АБ05Х16
			.basket-card__item
				.basket-card__subtitle ГОСТ
				.basket-card__text ГОСТ 15588-86
			.basket-card__item
				.basket-card__subtitle Цена
				.basket-card__text Договорная
			.basket-card__item
				.basket-card__number
					.input-number
						button.input-number__minus(type='button')
							+icon('minus')
						input.input-number__field(type='text', min='1', value='1 шт.', max='10000', inputmode='numeric')
						button.input-number__plus(type='button')
							+icon('plus')
	button.basket-card__close(type='button') Удалить