extends template/main

block variables
	- var title = ''
	- var description = ''

block content
	include ./pages/main/s-main-slider

block modal
	include ./modules/modal/modal-city
	include ./modules/modal/modal-callback
	include ./modules/modal/modal-thanks
	include ./modules/modal/modal-basket/modal-basket
	//- include ./modules/modal/modal-basket-not