.slide-banner.slide-banner--img-bg
	.slide-banner__content
		h2.slide-banner__title.txt--bld48
			| На первый заказ 
			br
			| скидка 10%
		a.slide-banner__link(href='#')
			| Подробнее
			+icon('arrow-right')