.slide-banner
	.slide-banner__content
		h2.slide-banner__title.txt--bld48
			| Бесплатная доставка 
			br
			| при покупке от 50 000 ₽
		a.slide-banner__link(href='#')
			| Подробнее
			+icon('arrow-right')
	.slide-banner__img
		img(src='../../../static/images/general/f-logo.png', alt='')