// Colors

// All
$white: #fff;
$black: #000;

// Style
$accent-main: #2CA483;
$accent-main2: #2bba93;
$accent-main3: #2CA483;
$accent-secondary: #00B187;

// Colors text
$txt-white60: rgba(255, 255, 255, 0.6);
$txt-gray: #7d838e;
$txt-gray60: rgba(125, 131, 142, 0.6);
$txt-black: #273142;
$txt-black90: rgba(39, 49, 66, 0.9);

// Colors UI
$ui-white5: rgba(255, 255, 255, 0.05);
$ui-lgh-gray: #f8f8fa;
$ui-mdm-gray: #f2f3f5;
$ui-mdm-gray2: #eaebee;
$ui-mdm-gray3: #f0f1f4;
$ui-dark-gray: #7d838e;
$ui-dark-gray30: rgba(125, 131, 142, 0.3);
$ui-main-blue: #013543;
$ui-secondary-blue: #033a49;

$base-font-size: 16px;