include ../../modules/cards/catalog-card/catalog-card

section.s-main-catalog
	.container-xxl
		.s-main-catalog__header
			h2.txt--bld40 Каталог
			a.link(href='#')
				span Весь каталог
				+icon('arrow-right-2')
		.s-main-catalog__slider
			.catalog-slider.swiper-container
				.swiper-wrapper
					.swiper-slide
						.catalog-slider__item
							+catalogCard('Сталь', '12 видов', 'img')
					.swiper-slide
						.catalog-slider__item
							+catalogCard('Цветные металлы', '12 видов', 'img2')
					.swiper-slide
						.catalog-slider__item
							+catalogCard('Чугун', '12 видов', 'img3')
					.swiper-slide
						.catalog-slider__item
							+catalogCard('Редкоземельные металлы', '12 видов', 'img4')
					.swiper-slide
						.catalog-slider__item
							+catalogCard('Сталь', '12 видов', 'img')