section.s-main-slider
	.container-xxl
		.s-main-slider__wrap
			.main-slider.swiper-container
				.swiper-wrapper
					.swiper-slide
						.main-slider__item
							include ./main-slide/slide-banner
					.swiper-slide
						.main-slider__item
							include ./main-slide/slide-banner-2
					.swiper-slide
						.main-slider__item
							include ./main-slide/slide-banner
					.swiper-slide
						.main-slider__item
							include ./main-slide/slide-banner-2
					.swiper-slide
						.main-slider__item
							include ./main-slide/slide-banner
			.s-main-slider__wrap-pagination
				.s-main-slider__pagination