include ../../../ui-kit/ui-breadcrumbs/ui-breadcrumbs

.container
	.row
		.col-xxl-3.col-xl-4.col-lg-6
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores sed illo laboriosam iusto enim ratione qui illum necessitatibus consequatur at?
		.col-xxl-3.col-xl-4.col-lg-6
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto inventore sapiente, voluptates vel harum deserunt asperiores distinctio fuga quae eum?
		.col-xxl-3.col-xl-4.col-lg-6
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum qui sequi, tempore reprehenderit similique veritatis aperiam vel iure esse modi.
		.col-xxl-3.col-xl-4.col-lg-6
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eius et in laboriosam dolores vitae, nihil voluptatem adipisci atque. Voluptas.

ul.breadcrumbs
	+breadcrumbs-item('Главная','#')
	+breadcrumbs-item('Еще','#')
	+breadcrumbs-item('Еще','#')
	+breadcrumbs-item('Последняя')