button[disabled] {
	opacity: .5;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 44px;
	padding: 10px 12px;
	background: $accent-main;
	color: $white;
	border-radius: 5px;
	font-size: 14px;
	line-height: 150%;
	font-weight: 500;
	transition: .3s linear;
	cursor: pointer;
	&:hover {
		background: $accent-main2;
		color: $white;
	}
	&:active {
		background: $accent-main3;
		color: $white;
	}
	&--gray {
		background: $ui-mdm-gray;
		color: $txt-black;
		&:hover {
			background: $ui-mdm-gray2;
			color: $txt-black;
		}
		&:active {
			background: $ui-mdm-gray3;
			color: $txt-black;
		}
	}
	&--wdh185 {max-width: 185px;}
	&--wdh190 {max-width: 190px;}
	&--wdh220 {max-width: 220px;}
	&--circle {
		max-width: 40px;
		height: 40px;
		padding: 11px;
		border-radius: 50%;
	}
	&--svg {
		margin-left: 4px;
	}
	&--h40 {height: 40px}
	&--h52 {height: 52px}
	&--white5 {
		background: $ui-white5;
		&:hover {background: $ui-white10}
	}
	&--trparent {
		background: transparent;
		&:hover {
			background: $ui-white10;
		}
	}
	&--br50 {border-radius: 50px;}
	&--link {
		display: inline-block;
		width: auto;
		height: auto;
		padding: 0;
		background: transparent;
		color: $txt-gray;
		&:hover {
			background: transparent;
			color: $accent-main2;
		}
		&:hover {
			background: transparent;
			color: $accent-main3;
		}
	}
}

@media only screen and (max-width: 1023px) {
	.btn {
		&--link {
			height: 40px;
			padding: 10px 0px;
			text-align: center;
		}
	}
}

@media only screen and (max-width: 767px) {
	.btn {
		&--m-wdh100 {max-width: 100%;}
	}
}