.icon-arrow-down {
	width: 9px;
	height: 6px;
	fill: none;
	stroke: $accent-main;
}

.icon-phone {
	width: 18px;
	height: 21px;
	fill: $accent-main;
}

.icon-star {
	width: 11px;
	height: 11px;
	fill: $accent-main;
}

.icon-search {
	width: 20px;
	height: 20px;
	fill: $accent-main;
}

.icon-basket {
	width: 20px;
	height: 22px;
	fill: $accent-main;
}

.icon-close {
	width: 12px;
	height: 12px;
	fill: $txt-black;
}

.icon-arrow-right {
	width: 14px;
	height: 14px;
	fill: $accent-main;
}

@media only screen and (max-width: 575px) {
	.icon-search {
		width: 16px;
		height: 16px;
	}
	.icon-basket {
		width: 17px;
		height: 18px;
	}
}