.icon-arrow-down {
	width: 9px;
	height: 6px;
	fill: none;
	stroke: $accent-main;
}

.icon-phone {
	width: 18px;
	height: 21px;
	fill: $accent-main;
}

.icon-star {
	width: 11px;
	height: 11px;
	fill: $accent-main;
}

.icon-search {
	width: 20px;
	height: 20px;
	fill: $accent-main;
}

.icon-basket {
	width: 20px;
	height: 22px;
	fill: $accent-main;
}