.modal-dialog {
	&--wdh708 {max-width: 708px;}
}

.modal-right {
	.modal-content {background: $ui-lgh-gray;}
}

.modal-w {
	position: relative;
	width: 100%;
	padding: 80px 48px 48px;
	&__img {
		display: block;
		max-width: 220px;
		margin: 0 auto 48px;
	}
	&__text {
		margin: 20px 0 32px;
	}
	&__form {
		button {margin-top: 40px;}
	}
	&__write-us {margin-top: 56px;}
}

.write-us {
	padding: 24px;
	background: $white;
	border-radius: 15px;
	font-size: 14px;
	line-height: 150%;
	&__mail, &__time {
		position: relative;
		padding-left: 18px;
		font-size: 14px;
		font-weight: 600;
		svg {
			position: absolute;
			top: 50%;
			left: 0;
			width: 12px;
			height: 12px;
			transform: translateY(-50%);
		}
	}
	&__time {margin-bottom: 12px;}
	p {
		&:last-child {margin-bottom: 0px;}
	}
}

.modal-basket {
	position: relative;
	padding: 48px;
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 32px;
	}
	&__count-product {
		margin-top: 4px;
		margin-left: 12px;
		padding-left: 12px;
		border-left: 2px solid rgba(39, 49, 66, .15);
		font-size: 18px;
		font-weight: 500;
		line-height: 100%;
	}
	&__basket-product-list {
		.modal-basket__wrap-body {
			padding: 28px 10px 36px 24px;
		}
	}
	&__wrap-body {
		padding: 80px 52px;
		background: $white;
		border-radius: 20px;
	}
	&__img {
		display: block;
		max-width: 220px;
		margin: 0 auto 48px;
	}
	&__text {
		margin-top: 20px;
		color: $txt-black90;
		font-weight: 500;
		line-height: 150%;
	}
	&__buttons {
		display: flex;
		align-items: center;
		margin-top: 32px;
		& * {
			&:not(:last-child) {margin-right: 12px;}
		}
	}
}

.modal-close {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 12px;
	right: 12px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	svg {
		width: 14px;
		height: 14px;
	}
}

@media only screen and (max-width: 575px) {
	.modal-w {
		padding: 20px 12px 24px;
		&__img {margin: 0 auto 32px;}
		&__text {
			font-size: 14px;
		}
		&__form {
			button {margin-top: 32px;}
		}
		&__write-us {margin-top: 34px;}
		.txt--bld36 {
			font-size: 24px;
		}
	}

	.write-us {
		&__mail, &__time {
			svg {
				top: 4px;
				transform: translateY(0);
			}
		}
	}

	.modal-basket {
		padding: 32px 12px 40px;
		&__close {display: none;}
		&__header {
			margin-bottom: 24px;
		}
		&__count-product {
			font-size: 16px;
		}
		&__img {margin: 0 auto 32px;}
		&__wrap-body {padding: 40px 20px;}
		&__text {font-size: 14px;}
		&__buttons {
			flex-direction: column;
			& * {
				&:not(:last-child) {
					margin-right: 0px;
					margin-bottom: 16px;
				}
			}
		}
		.txt--bld24 {font-size: 18px;}
		.txt--bld36 {font-size: 24px;}
	}
}