.modal-dialog {
	&--wdh708 {max-width: 708px;}
}

.modal-right {
	.modal-content {background: $ui-lgh-gray;}
}

.modal-w {
	position: relative;
	width: 100%;
	padding: 80px 48px 48px;
	&__img {
		display: block;
		max-width: 220px;
		margin: 0 auto 48px;
	}
	&__text {
		margin: 20px 0 32px;
	}
	&__form {
		button {margin-top: 40px;}
	}
	&__write-us {margin-top: 56px;}
}

.write-us {
	padding: 24px;
	background: $white;
	border-radius: 15px;
	font-size: 14px;
	line-height: 150%;
	&__mail, &__time {
		position: relative;
		padding-left: 18px;
		font-size: 14px;
		font-weight: 600;
		svg {
			position: absolute;
			top: 50%;
			left: 0;
			width: 12px;
			height: 12px;
			transform: translateY(-50%);
		}
	}
	&__time {margin-bottom: 12px;}
	p {
		&:last-child {margin-bottom: 0px;}
	}
}

.modal-basket {
	position: relative;
	padding: 48px;
	&__section {
		display: none;
		&.show-section {display: block;}
	}
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 32px;
	}
	&__basket-item {
		display: none;
		&.show-section {display: block;}
	}
	&__basket-product-list {
		.modal-basket {
			&__buttons {justify-content: space-between;}
		}
	}
	&__count-product {
		margin-top: 4px;
		margin-left: 12px;
		padding-left: 12px;
		border-left: 2px solid rgba(39, 49, 66, .15);
		font-size: 18px;
		font-weight: 500;
		line-height: 100%;
	}
	&__basket-product-list {
		.modal-basket__wrap-body {
			padding: 28px 10px 36px 24px;
		}
	}
	&__wrap-body {
		padding: 80px 52px;
		background: $white;
		border-radius: 20px;
	}
	&__body {
		max-height: 420px;
		overflow-y: auto;
		&::-webkit-scrollbar-track {
			background: $ui-lgh-gray;
			border-radius: 50px;
		}
		&::-webkit-scrollbar {
			width: 5px;
			background: $ui-lgh-gray;
			border-radius: 50px;

		}
		&::-webkit-scrollbar-thumb {
			background: $accent-main;
			border-radius: 50px;
		}
	}
	&__list {
		margin-right: 20px;
	}
	&__img {
		display: block;
		max-width: 220px;
		margin: 0 auto 48px;
	}
	&__text {
		margin-top: 20px;
		color: $txt-black90;
		font-weight: 500;
		line-height: 150%;
	}
	&__buttons {
		display: flex;
		align-items: center;
		margin-top: 32px;
		& * {
			&:not(:last-child) {margin-right: 12px;}
		}
	}
	&__fixed-btn {
		display: contents;
		margin-right: 12px;
		button {margin: 0px;}
	}
	&__clear-list {margin-right: 25px;}
	&__forms {
		.modal-basket__buttons {margin-top: 40px;}
	}
	&__forms-text {margin: 20px 0px 40px;}
	&__form-group {
		display: flex;
		align-items: center;
		margin-left: -6px;
		margin-right: -6px;
		.form-group {
			flex: 1;
			margin: 0px 6px;
		}
	}
	&__select {
		margin-top: 29px;
		.select {
			justify-content: center;
			&__body {right: -12px;}
		}
	}
}

.modal-close {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 12px;
	right: 12px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	svg {
		width: 14px;
		height: 14px;
	}
}

@media only screen and (max-width: 767px) {
	.modal, .modal-backdrop {top: 94px;}
	.modal-dialog {
		&--wdh708 {max-width: 450px;}
	}
	.modal-w {
		padding: 20px 12px 24px;
		&__img {margin: 0 auto 32px;}
		&__text {
			font-size: 14px;
		}
		&__form {
			button {margin-top: 32px;}
		}
		&__write-us {margin-top: 34px;}
		.txt--bld36 {
			font-size: 24px;
		}
	}

	.write-us {
		&__mail, &__time {
			svg {
				top: 4px;
				transform: translateY(0);
			}
		}
	}

	.modal-basket {
		padding: 32px 12px 172px;
		&__header {
			margin-bottom: 24px;
		}
		&__count-product {
			font-size: 16px;
		}
		&__img {margin: 0 auto 32px;}
		&__basket-product-list {
			.modal-basket {
				&__wrap-body {
					padding: 0px;
					background: transparent;
					border-radius: 0px;
				}
				&__body {
					padding: 0px 20px;
					background: $white;
					border-radius: 20px;
				}
				&__list {
					.basket-card {
						&:last-child {border: none;}
					}
				}
				&__buttons {margin-top: 12px;}
			}
		}
		&__fixed-btn {
			display: flex;
			justify-content: center;
			position: fixed;
			bottom: 0;
			right: 0;
			max-width: 449px;
			width: 100%;
			margin: 0px !important;
			padding: 8px 12px;
			background: $white;
			box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
			z-index: 101;
			button {
				height: 44px;
			}
		}
		&__wrap-body {padding: 40px 20px;}
		&__body {
			max-height: 100%;
			overflow-y: auto;
		}
		&__list {margin: 0;}
		&__text {font-size: 14px;}
		&__buttons {
			flex-direction: column;
			& * {
				&:not(:last-child) {
					margin-right: 0px;
					margin-bottom: 16px;
				}
			}
		}
		&__clear-list {margin-right: 0px}
		&__form-group {
			display: block;
			margin: 0px;
			.form-group {
				margin: 0px 0px 24px;
			}
		}
		&__select {
			display: inline-block;
			margin: 0px 0px 30px;
			.select {justify-content: flex-start;}
		}
		&__close {display: none;}
		.txt--bld24 {font-size: 18px;}
		.txt--bld36 {font-size: 24px;}
	}
}